<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/js.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{JavaScript.jsLinks}"></script> 
        #{get 'moreScripts' /}
    </head>
    <body>
    <div>
    	<div id="header">
    		#{if userLogged}
    		<div id="logout"><p>you are logged in as ${userLogged.username} <a href="@{Secure.logout()}">Logout</a></div>
    		#{/if}
    		<div id="menu">
    			#{if request.action == 'LocationController.selectNewLocation'}<p>Neue Klasse wählen</p>#{/if}
    			#{else}<a href="@{LocationController.selectNewLocation}">Neue Klasse wählen</a>#{/else}</div>
    	</div>
    	<div id="wrapper">
    		<div id="sidebarLeft">
    			<div id="nextOnSchedule"></div>
    		</div>
    		<div id="main">
    			#{doLayout /}
    		</div>
    	</div>
    	<div id="footer"></div>
    </div>
    </body>
</html>